<h1>Artists</h1>
{{#each artists}}
  {{#if images}}
    <img src="{{images.0.url}}" alt="{{name}}" />
  {{else}}
    <p>not found</p>
  {{/if}}
  <h3>{{name}}</h3>
  <a href="/albums/{{id}}">Get Albums</a>
{{/each}}